* {
  margin: 0;
  padding: 0;

  font-family: "Lato", sans-serif;
}
body {
  background-color: #21272f;
}
.App {
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
}
.header {
  display: flex;
  width: 80%;
  height: auto;
  margin: auto;
  flex-direction: row;
  color: whitesmoke;
  top: 0;
  border-radius: 16px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding-left: 3%;

  // background-color: #21272f;
  @media (max-width: 768px) {
    width: 96%;
  }

  /* border: 1px solid #21272f;
  border-radius: 4px; */
  .header-item {
    margin: auto;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
    text-decoration: none;
    color: whitesmoke;
    &:hover {
      transition: all ease-in-out 0.5s;
      border-radius: 50px;
      background: linear-gradient(124deg, #1de840);
      background-size: 1800% 1800%;
      -webkit-animation: rainbow 18s ease infinite;
      -z-animation: rainbow 18s ease infinite;
      -o-animation: rainbow 18s ease infinite;
      animation: rainbow 18s ease infinite;
    }
  }
  .header-logo {
    margin-left: -13%;
    width: 80px;
    height: 80px;
    justify-content: center;
  }
}

.slider {
  width: 80%;
  margin: auto;
  color: whitesmoke;
  // background-color: #21272f;
  @media (max-width: 768px) {
    width: 96%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .slider-text {
    margin-top: 7%;
    width: 70%;
    @media (max-width: 768px) {
      margin: auto;
    }

    .t1 {
      display: flex;
      flex-direction: row;
      @media (max-width: 768px) {
        margin: auto;
      }

      .text {
        color: #ffffff;
        font-weight: 700;
        font-style: normal;
        margin-top: 0px;
        @media (max-width: 768px) {
          margin: auto;
          margin-right: 1%;
        }
      }
      .text-1 {
        color: #ffffff;
        font-weight: 700;
        font-style: normal;
        margin-top: 0px;
        @media (max-width: 768px) {
          margin: auto;
          margin-left: 0;
        }
      }
    }
    .text-2 {
      font-size: 48px;
      color: #4fdebf;
      margin-left: -6px;
    }
    .text-3 {
      color: #ffffff;
      font-size: 24px;
    }
    .text-4 {
      line-height: 30px;
      color: #ffffff;
      margin-bottom: 5%;
      @media (max-width: 768px) {
        margin: auto;
        margin-top: 4%;
        margin-bottom: 7%;
        width: 100%;
        text-align: justify;
      }
    }
  }
  .slider-btn {
    border: 1px solid #00bd95;

    padding: 2% 4%;
    margin-top: 15vh;
    background-color: #00bd95;
    border-radius: 5px;
    font-size: 7vh;
    text-decoration: none;
    color: whitesmoke;
    transition: all ease-in-out 0.5s;
    @media (max-width: 768px) {
      font-size: 16px;
    }
    //Animation
    &:hover {
      transition: all ease-in-out 0.5s;
      border-radius: 50px;
      background: linear-gradient(124deg, #1de840);
      background-size: 1800% 1800%;
      -webkit-animation: rainbow 18s ease infinite;
      -z-animation: rainbow 18s ease infinite;
      -o-animation: rainbow 18s ease infinite;
      animation: rainbow 18s ease infinite;
    }
  }
  .slider-my {
    display: flex;
    margin-top: 5%;
    margin-bottom: 2%;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    @media (max-width: 768px) {
      flex-direction: column;
      margin: auto;
      margin-top: 5%;
    }
    .links {
      display: flex;
      margin-left: 2%;
      @media (max-width: 768px) {
        margin: auto;
      }
      .icons {
        margin-left: 15px;
        @media (max-width: 768px) {
          margin: auto;
          margin-top: 1%;
        }
      }
    }
  }
}
.services {
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 5%;
  // background-color: #1e242a;

  .services-con {
    width: 80%;
    height: auto;
    margin: auto;
    color: whitesmoke;
    .services-text {
      margin-top: 15%;

      .t2 {
        display: flex;
        flex-direction: row;

        .services-text {
          width: auto;
          font-size: 7vh;
          margin-top: 3%;
          margin-right: 3%;
          color: whitesmoke;
          @media (max-width: 768px) {
            font-size: 30px;
          }
        }
        .services-text-1 {
          font-size: 7vh;
          color: #00bd95;
          margin-top: 3%;
          @media (max-width: 768px) {
            font-size: 30px;
          }
        }
      }
      .services-text-2 {
        font-size: 9vh;
        margin-top: 1%;
        color: whitesmoke;
        @media (max-width: 768px) {
          font-size: 30px;
        }
      }
    }
    .my-services {
      display: flex;
      width: 100%;
      height: auto;
      flex-direction: row;
      margin: auto;
      margin-top: 5%;
      @media (max-width: 768px) {
        margin: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      justify-content: space-between;
      .services-boxs {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 30vh;
        // background-color: #21272f;
        margin: auto;
        margin-left: 4%;
        padding: 4%;
        align-items: center;
        justify-content: center;
        // border: 1px solid #21272f;
        border-radius: 16px;
        text-align: center;
        margin-bottom: 10%;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        @media (max-width: 768px) {
          margin: 5% 0;
          width: auto;
          height: auto;
        }
        .services-logo {
          width: 30%;
          height: auto;
          width: 60px;
          height: 60px;
        }
        .services-boxs-texts {
          margin-top: 5%;
          font-weight: 400;
          font-size: larger;
          color: whitesmoke;
        }
        .services-boxs-text-1 {
          margin: auto;
          margin-top: 5%;
          color: whitesmoke;
        }
      }
    }
  }
}
.footer {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  z-index: 2;

  .ph {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    color: whitesmoke;
    .i1 {
      width: 50px;
      height: 50px;
    }
    .y2 {
      cursor: pointer;
    }
  }
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
.green {
  background: #00bd95;
  width: 20%;
  height: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  border-radius: 14px;
}
.dropbtn {
  background-color: #00bd95;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 20px;
}

.dropdown-content a:hover {
  background-color: #00bd95;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #00bd95;
  transition: all ease-in-out 0.5s;
  border-radius: 50px;
  background: linear-gradient(124deg, #1de840);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@import url(//fonts.googleapis.com/css?family=Lato:300:400);

// .headers {
//   height: 70%;
//   position: sticky;
//   text-align: center;
//   background: linear-gradient(
//     60deg,
//     rgba(84, 58, 183, 1) 0%,
//     rgba(0, 172, 193, 1) 100%
//   );
//   color: white;
//   z-index: -5;
//   top: 0;
// }

// .inner-header {
//   height: 100vh;
//   width: 100%;
//   margin: 0;
//   padding: 0;
//   position: fixed;
//   z-index: -1;

//   top: 0;
// }
p {
  color: black;
}

.waves {
  position: relative;
  width: 100%;
  height: 40vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
  bottom: 0;
  z-index: 2;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
  
}
.ani {
  display: grid;
  position: sticky;
  z-index: -5;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
}
.tel-mail {
  text-decoration: none;
  color: whitesmoke;
}
.check-my {
  color: whitesmoke;
}
@media (max-width: 768px) {
  .slider{
    margin-top: 20px;
  }
  
}
