* {
  margin: 0;
  padding: 0;

  font-family: "Lato", sans-serif;
}
body {
  background-color: #21272f;
}
.header {
  display: flex;
  width: 80%;
  height: auto;
  margin: auto;
  flex-direction: row;
  color: whitesmoke;
  background-color: #21272f;

  /* border: 1px solid #21272f;
  border-radius: 4px; */
  .header-item {
    margin: auto;
    font-size: 70%;
  }
  .header-logo {
    margin-left: -13%;
    width: 80px;
    height: 80px;
    justify-content: center;
  }
}

.slider {
  width: 80%;
  margin: auto;
  color: whitesmoke;
  background-color: #21272f;
  .slider-text {
    margin-top: 7%;
    width: 70%;
    .t1 {
      display: flex;
      flex-direction: row;
      .text {
        font-size: 7vh;
        margin-top: 3%;
      }
      .text-1 {
        font-size: 7vh;
        color: #00bd95;
        margin-top: 3%;
      }
    }
    .text-2 {
      font-size: 9vh;
      margin-top: 3%;
    }
    .text-3 {
      margin-top: 3%;
      font-size: 4vh;
    }
    .text-4 {
      margin-top: 4%;
    }
  }
  .slider-btn {
    border: 1px solid black;
    width: fit-content;
    padding: 2% 4%;
    margin-top: 5%;
    background-color: #00bd95;
    border-radius: 5px;
    font-size: 7vh;
  }
  .slider-my {
    display: flex;
    margin-top: 5%;
    margin-bottom: 2%;
    align-items: center;
    .links {
      display: flex;
      margin-left: 2%;
      .icons {
        margin-left: 15px;
      }
    }
  }
}
.services {
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 5%;
  background-color: #1E242A;
  .services-con{
    width: 80%;
    margin: auto;
    color: whitesmoke;
    .services-text {
    margin-top: 15%;

    .t2 {
      display: flex;
      flex-direction: row;

      .services-text {
        width: auto;
        font-size: 7vh;
        margin-top: 3%;
        margin-right: 4%;
      }
      .services-text-1 {
        font-size: 7vh;
        color: #00bd95;
        margin-top: 3%;
      }
    }
    .services-text-2 {
      font-size: 9vh;
      margin-top: 1%;
    }
  }
  .my-services {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    margin: auto;
    margin-top: 5%;
    

    .services-boxs {
      display: flex;
      flex-direction: column;
      width: 30%;
      height: auto;
      background-color: #21272f;
      margin: auto;
      margin-left: 5%;
      padding: 5%;
      align-items: center;
      justify-content: center;
      border: 1px solid #21272f;
      border-radius: 6px;
      text-align: center;
      margin-bottom: 10%;
      .services-logo {
        width: 30%;
        height: auto;
      }
      .services-boxs-texts {
        margin-top: 5%;
        font-weight: 400;
        font-size: larger;
        color: whitesmoke;
      }
      .services-boxs-text-1 {
        margin: auto;
        margin-top: 5%;
        color: whitesmoke;
      }
    }
  }
  }
  
}
