* {
  margin: 0;
  padding: 0;
  background-color: #21272f;
  font-family: "Lato", sans-serif;
}
.header {
  display: flex;
  width: 80%;
  height: auto;
  margin: auto;
  flex-direction: row;
  color: whitesmoke;

  /* border: 1px solid #21272f;
  border-radius: 4px; */
  .header-item {
    margin: auto;
    font-size: 70%;
  }
  .header-logo {
    margin-left: -13%;
    width: 80px;
    height: 80px;
    justify-content: center;
  }
}

.slider {
  width: 80%;
  margin: auto;
  color: whitesmoke;
  .slider-text {
    margin-top: 15%;
    width: 70%;
    .t1 {
      display: flex;
      flex-direction: row;
      .text {
        font-size: 7vh;
        margin-top: 3%;
      }
      .text-1 {
        font-size: 7vh;
        color: #00bd95;
        margin-top: 3%;
      }
    }
    .text-2 {
      font-size: 9vh;
      margin-top: 3%;
    }
    .text-3 {
      margin-top: 3%;
      font-size: 4vh;
    }
    .text-4 {
      margin-top: 4%;
    }
  }
  .slider-btn {
    border: 1px solid black;
    width: fit-content;
    padding: 2% 4%;
    margin-top: 5%;
    background-color: #00bd95;
    border-radius: 5px;
    font-size: 7vh;
  }
  .slider-my {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
    .links {
        display: flex;
      margin-left: 2%;
      .icons{
        margin-left: 15px;
      }
    }
  }
}
